TP1/CPAR_ex1.pdf
TP1/install.txt
TP1/Instruções para Instalar o PAPI.pdf
TP1/Link to makefile
TP1/Link to mul.cpp
TP1/Link to mul_j.java
TP1/test_1.txt
TP1/test_2.txt
TP1/CPAR_Trabalho1_up201406992.zip
TP1/results.tar.gz
Exercicios/hello
Exercicios/matrix
Exercicios/ring
TP2/Sieve/seq_mpi
TP2/Sieve/seq_normal
TP2/Sieve/seq_openmp
